body{
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: #337534;
    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #337534 20%, #337534 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #337534 20%, #337534 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#3c794a 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #3c794a 2px, #337534 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.hand {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid;
    margin: 5px;
    width: 35px;
    height: 60px;
    border-radius: 5px;
    background-color: #fff;

    font-weight: 800;
    padding-top: 5px;
}

.cardBack{
    border: 1px solid;
    margin: 5px;
    width: 35px;
    height: 60px;
    border-radius: 5px;

    background-color: #d9ebd9;
    opacity: 0.8;
    background-image: linear-gradient(to right, #c51d39, #c51d39 5px, #d9ebd9 5px, #d9ebd9 );
    background-size: 10px 100%;
}

h2{
    color: #f5e886;
    background-color: #0d1a11;
}

button {
    border-radius: 5px;
    background-color: #7eb0df;
    color: #daecfa;
    border: none;
    /* height: minmax(40px, auto);  */
    min-height: 40px;
    margin: 7px;
    width: 100px;
}

.startButtons{
    display: flex;
    justify-content: center;
}